.career {
    position: relative;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

iframe {
    position: relative;
    cursor: pointer;
    border: solid 15px rgb(100, 0, 0);
    border-radius: 50px;
    transition: all 0.5s ease;
    pointer-events: none;
}
iframe:hover {
    border-color: rgb(200, 0, 0);
}

.CVs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 140px;
}

.CV {
    margin: 10px;
    border-radius: 10px;
    height: 160px;
    width: 160px;
    padding: 5px;
    transition: all 0.5s ease;
}
.CV:hover {
    box-shadow: inset 0 0 10px rgb(0, 0, 0);
}

.CV svg {
    position: relative;
    left: 5px;
    top: 5px;
    filter: drop-shadow(0 0 3px rgb(0, 0, 0));
}
