.skill-tabs {
    position: relative;
    padding: 3rem;
    margin-bottom: 300px;
}

.tab-container {
    display: flex;
    flex-direction: row;
    border-radius: 8px 8px 0 0;
    overflow: hidden; /* pas beau mais ça sert à cacher les coins externes supérieurs*/
}

.skill-tab {
    flex: 1;
}

.skill-tab label {
    display: block;
    box-sizing: border-box;
    height: 4rem;
    padding: 10px;
    text-align: center;
    font-size: 3rem;
    background: rgb(200, 50, 50);
    cursor: pointer;
    transition: background 0.5s ease;
}

.skill-tab label:hover {
    background: rgb(150, 0, 0);
}

.tab-content {
    position: absolute;
    left: 60px;
    width: 1760px;
    padding: 20px;
    font-size: 1.5rem;
    border-radius: 0 0 8px 8px;
    background: rgb(200, 0, 0);
    opacity: 0;
    transform: scale(0.5);
    transform-origin: top left;
    transition: all 0.8s ease;
}

[type="radio"] {
    display: none;
}

[type="radio"]:checked ~ label {
    background-color: rgb(150, 0, 0);
    z-index: 2;
}

[type="radio"]:checked ~ label ~ .tab-content {
    z-index: 1;
    opacity: 1;
    transform: scale(1);
}

.tab-content > ul {
    list-style-type: none;
}

#soft-skills-list li {
    background: url(../assets/img/index/soft.svg) no-repeat left center;
    padding-left: 60px;
    background-size: 40px;
}

#hard-skills-list li {
    background: url(../assets/img/index/hard.svg) no-repeat left center;
    padding-left: 60px;
    background-size: 40px;
}