nav {
    position: relative;
    height: 5rem;
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: rgb(200, 0, 0);
    transition: all 0.5s ease;
    z-index: 1;
    font-family: sans-serif;
}
nav:hover {
    height: 10rem;
    box-shadow: 0 10px 10px black;
}

nav .img_name {
    position: relative;
    height: 100%;
    display: flex;
}
nav .img_me {
    z-index: 1;
    border-radius: 50%;
}

nav .links {
    transition: all 0.5s ease;
}

nav .links {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-left: 0.5rem;
}

nav:hover .links {
    margin-left: 1rem;
}

nav .links .link {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    display: flex;
    padding: 5px;
    height: 25px;
    width: 25px;
    transition: all 0.5s ease;
    cursor: pointer;
}
nav .links .link:hover {
    box-shadow: inset 0 0 10px black;
}
nav:hover .links .link {
    height: 50px;
    width: 50px;
}

nav .options {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    display: flex;
    flex-direction: row;
    margin: 0 0;
    padding: 0;
}
nav:hover .options {
    top: 50%;
    transform: translate(0, -50%);
}

nav .options li {
    position: relative;
    list-style: none;
    color: black;
    text-transform: uppercase;
    width: auto;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    margin: 0 0.2rem;
}

nav:hover .options li {
    padding: 0rem;
    height: auto;
    font-size: 1.5rem;
}

nav .options li a {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    text-decoration: none;
    padding: 0.5rem;
    color: black;
    text-align: center;
    transition: all 0.5s ease;
}
nav .options li a:hover {
    font-weight: bold;
    box-shadow: inset 0 0 10px black;
}
