.card-list {
    position: relative;
    display: flex;
    padding: 4rem 3rem 3rem 3rem;
}

.card::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.card::-webkit-scrollbar-thumb {
    background: rgb(100, 0, 0);
    border-radius: 0px 10px 10px 0px;
}

.card::-webkit-scrollbar-track {
    border-radius: 0px 10px 10px 0px;
}

.card {
    height: 400px;
    width: 700px;
    min-width: 400px;
    padding: 1.5rem;
    border-radius: 16px;
    background: rgb(100, 0, 0);
    box-shadow: -1rem 0 1rem rgb(0, 0, 0);
    color: rgb(200, 150, 150);
    display: flex;
    flex-direction: column;
    transition: 0.2s;
    margin: 0;
    scroll-snap-align: start;
    clear: both;
    position: relative;
    overflow-y: scroll;
}

.card:focus-within~.card,
.card:hover~.card {
    transform: translateX(230px);
}

.card:hover {
    transform: translateY(-3rem);
    background: rgb(200, 150, 150);
    color: rgb(0, 0, 0);
}

.card:not(:first-child) {
    margin-left: -200px;
}

.card-header {
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.card-content {
    display: flex;
    flex-direction: column;
}

.card-img {
    border-radius: 16px;
}