body {
    height: 100%;
    width: 100%;
    background: rgb(240, 240, 240);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    transition: all;
}

section {
    transition: margin-top ease 0.5s;
    z-index: 0;
}

nav:hover + section {
    margin-top: -6rem;
}