.sustainability {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* :before,
:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
} */
@media (min-width: 768px) {
    .col-sm-4,
    .col-sm-8 {
        float: left;
    }
    @media print {
        * {
            text-shadow: none !important;
            color: #000 !important;
            background: transparent !important;
            box-shadow: none !important;
        }
    }
}
.partmyaccount .col-sm-4 {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.partmyaccount .col-sm-8 {
    width: auto;
}
.partmyaccount .bordered {
    border: 1px solid #cccccc;
}
.partmyaccount .col-sm-4,
.col-sm-8 {
    position: relative;
    padding: 0;
}
/*! CSS Used from: https://edu.sulitest.org/css/Specific/graph/lcl-graph.css */
.partmyaccount .lcl-graph-container {
    color: #586178;
    font-family: \"Helvetica Neue\", Helvetica, Arial, sans-serif;
    position: relative;
}
.partmyaccount .mce-content-body ul li {
    list-style: none;
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
    text-align: left;
    margin: 0px 0px 10px 0px;
    padding: 0px 0px 5px 35px;
    background: transparent
        url("http://www.sulitest.org/imgs/templates/check.png") 5px 2px
        no-repeat;
}
/*! CSS Used from: https://edu.sulitest.org/css/style.css */
.partmyaccount .mce-content-body ul {
    display: inline-block;
    margin-top: 10px;
    list-style: none;
}
.partmyaccount .tooltip {
    position: absolute;
    z-index: 1030;
    display: block;
    visibility: visible;
    font-size: 12px;
    line-height: 1.4;
    opacity: 0;
    filter: alpha(opacity=0);
}
/*! CSS Used from: https://edu.sulitest.org/css/structure/style-template.css */
.partmyaccount :focus {
    outline: none;
}
.partmyaccount fieldset li span {
    display: inline-block;
    width: 30px;
    height: 16px;
    margin-right: 10px;
    text-align: center;
}
.partmyaccount fieldset li {
    background-image: url("https://edu.sulitest.org/css/structure/style-template.css");
    padding: 0px;
}
.partmyaccount fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}
.partmyaccount fieldset {
    padding: 0;
    margin: 0;
    border: 0;
    min-width: 0;
}
.partmyaccount input {
    color: inherit;
    font: inherit;
    margin: 0;
}
.partmyaccount input {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.partmyaccount input {
    line-height: normal;
}

.partmyaccount .sulink {
    position: relative;
    top: 10px;
    padding: 5px;
    border-radius: 10px;
    transition: all ease 0.5s;
}

.partmyaccount .sulink:hover {
    background: rgb(200, 150, 150);
}

.partmyaccount .legend p {
    margin: 1px;
    font-size: 25px;
}

/*! CSS Used from: Embedded */
.partmyaccount span {
    font-size: 100%;
}
.partmyaccount span {
    font-size: 80%;
}
/*! CSS Used from: https://edu.sulitest.org/js/bootstrap/css/bootstrap.min.css */
.partmyaccount svg:not(:root) {
    overflow: hidden;
}
.partmyaccount ul {
    margin-top: 0;
    margin-bottom: 10px;
}
.partmyaccount ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}
.partmyaccount {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}
.row:after {
    clear: both;
}
.row:before,
.row:after {
    content: \" \";
    display: table;
}

#main .row {
    margin-left: 0px;
    margin-right: 0px;
}
