body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button {
    cursor: pointer;
    background-color: lightgray;
}

button:hover {
    background-color: gray;
}

#img-button {
    width: 800px;
    height: 800px;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    text-align: center;
    font-size: 100px;
}

.options {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.button {
    width: 200px;
    height: 100px;
    margin: 10px;
}