@font-face {
    font-family: "MAXDRIVE";
    src: url(./MAXDRIVE.ttf);
}

body {
    width: 21cm;
    height: 29.7cm;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.card {
    overflow: hidden;
    border-radius: 10px;
    margin: 1px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    background: rgb(200, 200, 200);
    box-shadow: inset black 0 0 20px;
}

.card > header {
    border-radius: 10px;
    background: rgb(100, 100, 100);
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 5px;
    padding: 5px;
}

img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.name {
    margin-left: 10px;
    display: flex;
    font-family: "MAXDRIVE";
    flex-grow: 2;
    align-items: center;
    /* background: lightskyblue ; */
}

.desc {
    position: relative;
    margin: 10px;
    /* background-color: red; */
}
